@import 'tailwindcss';

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
  --color-primary: #222;
}

html,
body {
  font-family: var(--font-montserrat);
  scroll-behavior: smooth;
}
